<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd">

	<!--	<context:property-placeholder location="classpath:db.properties"></context:property-placeholder>-->

	<bean id="person" class="org.aiz.debug.entity.Person">
		<!--		<lookup-method></lookup-method>-->
		<!--		<replaced-method></replaced-method>-->
		<property name="id" value="1"/>
		<property name="name" value="zhangsan"/>
	</bean>

	<bean id="person2" class="org.aiz.debug.entity.Person">
		<constructor-arg index="0" value="1"></constructor-arg>
		<constructor-arg index="1" value="lisi"></constructor-arg>
	</bean>

</beans>
